.correct {
  background-color: #6AAA64; /* Green for correct */
  color: white;
}

.yellow {
  background-color: #e7d140; /* Yellow for close or partial guesses */
  color: black;
}

.incorrect {
  background-color: #cd4e4e; /* Red for incorrect guesses */
  color: white;
}

.skeleton {
  background-color: #e0e0e0; /* Light grey background for skeleton */
}

.flip-back.yellow {
  background-color: #fbe77b !important;
  color: black;
}
