.input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .player-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 160px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    top: 100%; /* Position suggestions below the input */
    left: 0;
    width: 100%;
    z-index: 10; /* Ensure it appears above other content */
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  
/* Responsive suggestions list for small screens */
/* For screens less than 768px */

@media only screen and (max-width: 767px) {
  .suggestions {
    width: 90%; 
    max-width: none; 
    margin: 0 auto; 
    position: absolute; 
    z-index: 1000; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: white; 
  }

  .suggestions li {
    padding: 10px; 
    font-size: 14px; 
  }
}

